<section class="contact-section">
    <h2 class="contact-title">Contact Me</h2>
    <p class="contact-text">Tel: 0151/43223440</p>
    <p class="contact-text">Email: stroeblgabriela@gmail.com</p>
    <p class="contact-text">If you have any questions or inquiries, feel free to reach out!</p>

    <h3 class="contact-subtitle-green">Let us work together!</h3>

    <form class="contact-form">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Your Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <label class="privacy-label">
            <input type="checkbox" name="privacy" required class="privacy-checkbox">
            I've read the
            <a href="/privacy-policy" target="_blank" rel="noopener" class="privacy-link">
                privacy policy
            </a>
            and agree to the processing of my data as outlined
        </label>
        <button type="submit">Send</button>
    </form>
</section>
<button class="scroll-top-btn" (click)="scrollToTop()">
    <img src="/icons/arrowup.svg" alt="Nach oben" class="arrow" />
</button>
<app-footer></app-footer>