
  <section class="hero">
  <!-- Top-Bar -->
  <header class="hero-bar">
  <app-hero-logo [name]="'G.Ströbl'" [subtitle]="'developer'"></app-hero-logo>
  </header> 

  <!-- Portrait + Shape -->
 <!-- Visual + Texte -->
  <div class="hero-visual">
    <img class="visual" src="img/hero-section/portrait-shape.svg" alt="Portrait Gabriela Ströbl" />
  </div>
  <h1 class="hero-title">Gabriela Ströbl</h1>
  <p class="hero-role">FRONTEND DEVELOPER</p>
  <a class="scroll" href="#why-me" aria-label="Scroll to Why me">
    <img src="/img/hero-section/arrow-down.svg" alt="">
  </a>

  <!-- Mobile-Overlay (einmal!) -->
  <nav class="mobile-nav" *ngIf= "menuOpen">
    <div class="menu-box">
      <ul class="menu-list">
        <li><a href="#why-me" (click)="closeMenu()">Why me</a></li>
        <li><a href="#skills" (click)="closeMenu()">Skills</a></li>
        <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
        <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
        <li class="language-switch">
          <button class="lang" [class.active]="currentLang==='de'" (click)="setLanguage('de')">DE</button>
          <button class="lang" [class.active]="currentLang==='en'" (click)="setLanguage('en')">EN</button>
        </li>
      </ul>
    </div>
  </nav>
</section>