<section class="section refs">
  <h2 class="section-title">Need a teamplayer?</h2>
  <p class="refs-sub">Here what my colleagues said about me</p>

  <div class="refs-track">
    <article class="ref-card">
      <h3 class="ref-card-name">Annette Lasar</h3>
      <p class="ref-card-text"> Gabriela bringt eine positive Einstellung zum Lernen mit. Sie war immer eine freundliche und zuverlässige Teilnehmerin, ihre positive Art hat die gemeinsame Zeit sehr angenehm gemacht.
        Ich habe sie als eine motivierte und aufgeschlossene Kollegin erlebt. Sie ist neugierig, wissbegierig und arbeitet kontinuierlich daran, ihre Kenntnisse auszubauen.</p>
    </article>
  
    <article class="ref-card">
      <h3 class="ref-card-name">Ogulcan Erdag</h3>
      <p class="ref-card-text">Sie hat ein unglaubliches Gespür für sauberen, effizienten Code und sorgt stets dafür,
         dass die technische Umsetzung reibungslos und funktional ist.</p>
      <a class="ref-card-link" href="https://www.linkedin.com/in/ogulcan-erdag-73579b276/" target="_blank" rel="noopener">LinkedIn Profile</a>
    </article>
    <article class="ref-card">
      <h3 class="ref-card-name">Jaime Aleman USA</h3>
      <p class="ref-card-text">Ich kenne Gabriela seit Juni 2024, als wir uns über einen Entwickler-Discord-Server kennengelernt haben. Wir sprechen oft über Coding-Standards und Best Practices, hauptsächlich im Bereich JavaScript. Sie ist sehr aufmerksam, offen für Neues und immer bereit, 
        dazuzulernen und Ideen auszutauschen.</p>
    </article>
  </div>
</section>

