
<section id="skills" class="section skills">
  <h2 class="section-title">My Skills</h2>
  <ul class="skills-grid skills-grid--green">
    <li class="skills-item"><img src="/icons/my-skills/angular-icon.svg" alt="Angular"></li>
    <li class="skills-item"><img src="/icons/my-skills/typescript-icon.svg" alt="TypeScript"></li>
    <li class="skills-item"><img src="/icons/my-skills/javascript-icon.svg" alt="JavaScript"></li>
    <li class="skills-item"><img src="/icons/my-skills/html-icon.svg" alt="HTML"></li>
    <li class="skills-item"><img src="/icons/my-skills/css-icon.svg" alt="CSS"></li>
    <li class="skills-item"><img src="/icons/my-skills/api-icon.svg" alt="REST APIs"></li>
    <li class="skills-item"><img src="/icons/my-skills/firebase-icon.svg" alt="Firebase"></li>
    <li class="skills-item"><img src="/icons/my-skills/git-icon.svg" alt="Git"></li>
    <li class="skills-item"><img src="/icons/my-skills/mongodb-icon.svg" alt="MongoDB"></li>
    <li class="skills-item"><img src="/icons/my-skills/scrum-icon.svg" alt="Scrum"></li>   
  </ul>
  <div class="skills-learning">
    <p class="skills-label">What I'm currently learning</p>
     <!-- dein Erklärungstext -->
  <p class="skills-text">
    I am motivated to continually improve my skills, 
    explore innovative solutions, and stay up-to-date 
    with the latest technologies.
  </p>
    <div class="skills-bubble">
      <div class="skills-col">
        <img src="img/my-skills-section/vue.js.svg" alt="" />
        <span>Vue.js</span>
      </div>
      <div class="skills-col">
        <img src="img/my-skills-section/react.svg" alt="" />
        <span>React</span>
      </div>
    </div>
  </div>
</section>