<footer>
    <div class="footer-logo">
        <app-hero-logo></app-hero-logo>
    </div>
    <div class="footer-social">
        <a href="https://github.com/Creative-Web-Dev2023" target="_blank" rel="noopener" aria-label="GitHub">
            <img src="/icons/footer-section/github.svg" alt="GitHub" />
        </a>
        <a href="mailto:stroeblgabriela76@yahoo.de" aria-label="E-Mail">
            <img src="/icons/footer-section/email.svg" alt="Mail" />
        </a>
        <a href="https://linkedin.com/" target="_blank" rel="noopener" aria-label="LinkedIn">
            <img src="/icons/footer-section/linkin.svg" alt="LinkedIn" />
        </a>
    </div>
    <div class="footer-links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/legal-notice" routerLinkActive="active">Legal notice</a>
        <span>© Gabriela Ströbl {{ year }}</span>
    </div>
</footer>